.articleGauche{
    display: flex;
    margin-left: 3em;
    div{
        margin-left: 2em;
    }
    span{
        img{
            max-width: 200px;
            max-height: 200px;
            min-width: 200px;
            min-height: 200px;
        }
    }
}

.nouvelles{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.articleCentre{
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
        img{
            max-width: 200px;
            max-height: 200px;
            min-width: 200px;
            min-height: 200px;
        }
    }
}